* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  gap: 1em;
  background-color: aliceblue;
  padding-bottom: 1em;
  padding-top: 1em;
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #5ff1f1;
  border: 1px solid rgb(24, 24, 75);
}

nav a:hover,
nav a:active {
  background-color: orangered;
  color: aliceblue;
  border: 1px solid rgb(24, 24, 75);
}

nav a:focus {
  background-color: rgb(27, 58, 83);
  color: aliceblue;
  border: 1px solid rgb(24, 24, 75);
}
