* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  background-color: aliceblue;
  padding-top: 1em;
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #5ff1f1;
  border: 1px solid rgb(24, 24, 75);
}

nav a:hover,
nav a:active {
  background-color: orangered;
  color: aliceblue;
  border: 1px solid rgb(24, 24, 75);
}

nav a:focus {
  background-color: rgb(27, 58, 83);
  color: aliceblue;
  border: 1px solid rgb(24, 24, 75);
}

.container-wrapper {
  max-width: 1200px;
  max-height: 100vh;
  margin: 0 auto;
  background-image: url(./img/surfing.jpg);
  background-size: cover;
  margin-top: 3em;
  margin-bottom: 3em;
}

.container {
  width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: pink;
  border-radius: 30px;
  border: 10px solid rgba(158, 90, 102, 0.295);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: misca-dreptunghiul;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.text-css {
  font-size: large;
  font-weight: 800;
  color: rgb(52, 22, 80);
}

@keyframes misca-dreptunghiul {
  0% {
    left: -6.25em;
  }

  30% {
    transform: rotate(360deg);
  }

  60% {
    transform: scale(2);
  }

  100% {
    left: calc(100% - 8em);
  }
}
