/* Culori și fundal
Stilizează diferite elemente ale paginii, cum ar fi culoarea textului, culoarea fundalului și fundalul cu imagine. 
Margini, borduri și umpluturi
Aplică margini, borduri și umpluturi diferite elementelor pentru a vedea cum aceste proprietăți afectează aspectul paginii.
Dimensiuni și poziționare
Experimentează cu proprietățile width, height, position, top, right, bottom și left pentru a modifica dimensiunile și poziționarea elementelor.*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-prima-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.7em;
  font-weight: 600;
}
.nav-prima-pagina > li {
  list-style-type: none;
}

.nav-prima-pagina > li > a {
  text-decoration: none;
}
.nav-prima-pagina > li > a:hover {
  text-decoration: none;
  color: rgb(25, 82, 47);
}
.nav-prima-pagina > li > a:active {
  text-decoration: none;
  color: rgb(21, 34, 26);
}

p {
  color: rgb(39, 36, 36);
  padding: 1em;
}

#imagine-fundal > p {
  color: antiquewhite;
}

body {
  background-color: rgb(194, 166, 166);
  max-width: 96em;

  font-size: 62.5%;
  padding: 3em;
  margin: 2em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 30px;
}

.paragraf1,
.paragraf2,
.paragraf3,
.paragraf4 {
  font-size: 2em;
}

.paragraf1 {
  margin-top: 30px;
}
/* am setat font-size la 62.5% pentru a putea transforma mai usor px in em impartind totul la 10, nu la 16. in scurt timp voi incerca sa fac totul responsive cu flexbox, grid si media query, deci trebuie sa imi fac setarile de asa natura incat sa pot lucra usor si sa nu pierd timp */

section {
  position: relative;
}

.paragraf4 {
  position: absolute;
  border: 3px solid red;
  width: 30em;
  height: auto;
  top: 100em;
  left: 40em;
}

/* I-am atribuit paragrafului 4 pozitie absoluta in raport cu sectionea in care se afla si careia i-am conferit o pozitie relativa, ca sa pot deplasa ultimul paragraf intr-o maniera precisa. I-am definit proprietatea top si left astfel incat sa nu suprascrie text pe text celelalte paragrafe si sa fie clar vizibil faptul ca este pozitionat absolut. Aceasta aranjare nu are nicio legatura cu bazele WEB-DESIGN si au drept scop experimentarea, asa cum cere conditia exercitiului.  */

.paragraf2 {
  position: absolute;
  width: 25em;
  height: auto;
  top: 120em;
  left: 5em;
  border: 3px solid blue;
}

/* am experimentat putin si cu al doilea paragraf. se observa ca a iesit cu totul din flow-ul paginii, nelasand spatiu liber in locul une s-a aflat initial. Celelalte elemente se aliniaza astfel in pagina incat sa umple spatiul gol ramas de pe urma celui de-al doilea paragraf. */

/* Observ ca in momentul in care am inserat o imagine, componentele paginii pozitionate absolut si-au schimbat pozitia aparenta in pagina, unul din doua paragrafe intrand intr-o suprapunere deranjanta cu primele doua paragrafe care apartin flow-ului normal al paginii. Motivul este ca imaginea a ocupat un nou spatiu deasupra paragrafelor si  inaltimea pe care am estimat-o eu initial ca ar fi potrivita pentru top nu mai este indeajuns.   */

.paragraf1 {
  /* width: 50%; */
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: aqua royalblue yellowgreen orangered;
  border-radius: 3em;
}

.paragraf3 {
  width: 50%;
  border-style: dotted;
  border-width: 5px;
  background-color: aquamarine;
}

/* am aplicat width 50% celor 2 elemente din flowul principal al paginii pentru a vedea efectul in pagina */

/* ?STILIZARE IMAGINI/////////////////////// */

.imagine-wrapper {
  text-align: end;
}

#imagine {
  width: 25em;
}

/* Nu este o idee buna a se insera height la imagine intrucat poate deforma imaginea. Se poate adauga height auto si width cat vrem noi. Sau putem sa nu specificam height pentru ca va avea o valoare auto implicita.

Imaginile sunt inline-block. Observ ca imaginea mea este localizata in partea stanga, deci de la stanga la dreapta, asa cum sunt pozitionate elementele de tip inline-block.
Pentru aliniere se poate folosi text-align.
Am incercat sa aplic text-align pe imagine si nu s-a intamplat nimic pentru ca aceasta proprietate trebuie aplicata pe elementul parinte in care se afla imaginea*/

/* Ca experiment, am inserat imaginea in paragraf fara div si aceasta se comporta ca un element al textului. */

#imagine-in-paragraf {
  width: 30em;
  padding: 3em;
  float: left;
}

/*?STILIZARE IMAGINI DE FUNDAL////// */

#imagine-fundal {
  width: 80%;
  height: 50em;
  background-image: url(./img/the-sea.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  /* border: 1px solid black; */
  /* background-size: cover; */
  /* background-attachment: local;
  overflow: auto; */
  border: 32px solid rgba(0, 0, 0, 0.144);
  padding: 32px;
  background-origin: padding-box;
}

#imagine-fundal p {
  font-size: 2em;
}

/* imaginea de fundal este pozitionata in coltul de stanga sus al elementului. ea nu poate afecta dimensiunea elementului din interiorul careia este localizata. daca este mai mare decat dimensiunea elementului in care se afla, este decupata. daca este mai mica, se repeta. */

/*Am inserat proprietatea  "background-position: center;", dar nu vad nimic centrat in pagina si nu stiu sigur din ce cauza (desi cu Inspect observ ca este aplicata). Estimez ca imaginea s-ar centra doar daca ar fi mai mica decat containerul in care se afla. Estimez ca daca ocupa intreg divul si are setarea fixa de 80%, nu are cum sa se deplaseze, pentru ca nu ii ramane spatiu pentru deplasare. Exact: daca comentez width: 80%, brusc se centreaza. */

/* cu "background-attachment: local" putem adauga un anume text deasupra imaginii, inserand textul dorit in divul gol asupra caruia am definit cu ajutorul stilizarii imaginea de background. Adaugand aici   "overflow: auto;" imaginea este fixata impreuna cu continutul si se deruleaza impreuna cu acesta.*/

/* Experimentare cu border lat si padding pe background image.
Inserez un border lat si un padding lat. Selectez background-origin.
 background-origin: 
 padding-box; - imaginea se aliniaza cu marginea superioara si din stanga
 content-box - se aliniaza top-left dupa padding
 border-box - imaginea este pozitionata in raport cu marginile exterioare ale cadrului, deci se suprapune peste border. 
 background-clip: border-box valoare implicita - imaginea se aliniaza cu marginea exterioara a cadrului, sub border */

/* Experimentez cu introducerea unei imagini in partea superioara a paginii. Vreau sa fie fixa, sa aiba un text fix in stanga. cand dai scroll sa faca parte din background si sa ramana fix si textul si imaginea.
Prima eroare: daca fac un div gol si pe clasa lui adaug background image fara nimic altceva nu imi apare nimic. Apare abia daca setez cumva background-origin apare.
2. daca sterg height-ul, deci nu ii dau nicio proprietate, imaginea se pliaza mult pe orizontala. cred ca inaltimea auto nu este implicita pentru background-image.
3. observ ca imaginea mea e decupata si vreau sa gasesc o metoda de a o insera precis si intreaga in pagina.
Am reusit sa scap de decuparea imaginii cu background-size: cover;

Am obtinut ce am vrut pentru text cu  background-attachment: local;
        overflow: auto; l-am pozitionat absolut. l-am facut responsive, dar nu sunt multumita de aspectul textului in raport cu imaginea cand o micsorez, deci voi incerca un cod flexbox.
        Experiment reusit. Va fi mai bine cu media query.
*/
