/* background-color: rgb(13, 13, 65);
  color: rgb(217, 243, 243); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: rgba(66, 245, 245, 0.774);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: rgb(40, 32, 87);
  color: aliceblue;
  font-size: 2em;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experiment {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(58, 54, 54);
  font-size: 4em;
  font-weight: 900;
  top: 4em;
  left: 1.8em;
}

@media (max-width: 40em) {
  .text {
    font-size: 1.5em;
  }
}

.second-section > div {
  font-size: 1.5em;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 5rem auto;
  width: min(90%, 75rem);
}

.nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0 auto;
  background-color: rgb(13, 13, 65);
}

/* @media (max-width: 40em) {
  nav {
    display: none;
  }
} */

.nav > li > a {
  list-style: none;
  text-decoration: none;
  color: rgb(217, 243, 243);
}

.nav > * {
  padding: 15px 0;
  font-size: 1.4em;
}

li {
  list-style: none;
  text-decoration: none;
}

.second-section-item {
  flex: 1;
}

.second-section {
  padding-top: 3em;
}

.footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 1.5em;
  margin-top: 2em;
  background-color: rgb(13, 13, 65);
  color: rgb(217, 243, 243);
}

.imagine-programare-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.imagine-programare {
  object-fit: cover;

  min-height: 100px;
  padding: 2em 0;
}

/* STILIZARE GRID */

.columns {
  margin: 5rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
}

@media (min-width: 45em) {
  .columns {
    grid-auto-flow: column;
  }

  .second-section {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 5rem auto;
    width: min(90%, 75rem);
  }
}

/* Note pe aceasta pagina style 

width: min(90%, 75rem);
  /* Proprietatea width aici stabilește lățimea maximă a elementului .grid la 90% din lățimea containerului său părinte sau la 75rem, în funcție de care valoare este mai mică. */

/*  grid-auto-flow: row;specifică direcția în care elementele grilei sunt plasate automat atunci când nu sunt plasate în mod explicit folosind proprietățile grid-column-start, grid-column-end, grid-row-start și grid-row-end.
  Când grid-auto-flow este setat pe column, elementele grilei sunt plasate automat în coloane, începând din colțul din stânga sus al containerului de grilă și mutându-se de sus în jos și de la stânga la dreapta. Acest lucru înseamnă că elementele grilei vor umple fiecare coloană înainte de a trece la următoarea. */

/* Codul cu care am incercat sa pozitionez text imagine in topul paginii cu position absolute/ position relative. Inca nici cu flexbox nu am atins versiunea perfecta */

/* .experiment {
        position: relative;
        width: 100%;
        height: 50em;
        background-image: url(./img/foto.jpg);
        background-repeat: no-repeat;
        border: 32px solid rgba(0, 0, 0, 0.144);
        padding: 32px;
        background-origin: padding-box;
        background-size: cover;
        background-attachment: local;
        overflow: auto;
      }

      .text {
        font-family: "Source Sans Pro", sans-serif;
        color: rgb(58, 54, 54);
        font-size: 4.06em;
        font-weight: 900;
        position: absolute;
        top: 309px;
        left: 350px;
      } */
