* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  margin: 0 auto;
  font-size: 1.2em;
  max-width: 75em;
  color: rgb(83, 80, 80);
}

/* Stilizare nav Inapoi catre prima pagina */

.nav-prima-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-weight: 600;
}
.nav-prima-pagina > li {
  list-style-type: none;
}

.nav-prima-pagina > li > a {
  text-decoration: none;
}
.nav-prima-pagina > li > a:hover {
  text-decoration: none;
  color: rgb(25, 82, 47);
}
.nav-prima-pagina > li > a:active {
  text-decoration: none;
  color: rgb(21, 34, 26);
}

/* 
/////////////////////////// */

/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.85em;
  gap: 1.8em;
}

.imagine-container {
  flex: 1;
}

.imagine {
  width: 90%;
  height: auto;
}

.text-container {
  flex: 1;
  font-size: 1.5em;
  font-size: clamp(0.7em, 2em, 1.5em);
} */

/* experiment cu succes. am reprezentat cea mai simpla aranjare stanga dreapta in pagina cu flexbox. 
Clasa .container este folosită pentru a grupa imaginea și textul și a se aplica stilurile flexbox.
Proprietatea display: flex face ca elementul .container să devină un container flexbox.
Proprietatea flex-direction: row specifică că elementele sunt aranjate pe aceeași linie orizontală.
Proprietatea align-items: center este folosită pentru a centra imaginea și textul pe axa verticală.
Stilul flex: 1 aplicat la imagine și text face ca acestea să fie flexibile și să împartă spațiul disponibil în container.*/

/* si acum voi incerca alta metoda flexbox */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
}

.imagine-container,
.text-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.text-container {
  padding: 1em;
  background-color: rgba(230, 224, 224, 0.74);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.imagine {
  width: 100%;
  margin-right: 3em;
  border: 20px solid rgba(33, 33, 63, 0.233);
}

.patrate {
  padding: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.patrat-item {
  width: 9.38em;
  height: 9.38em;
}

.patrat-galben {
  background-color: yellow;
}
.patrat-rosu {
  background-color: red;
  color: white;
}
.patrat-verde {
  background-color: green;
  color: yellow;
}
.patrat-albastru {
  background-color: blue;
  color: bisque;
}

.paragraf-centrat {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  background-color: rgba(230, 224, 224, 0.74);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.patrat-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 900;
}

.patrat-galben {
  padding-left: 2.6em;
}

footer {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  padding: 2em 2em;
  background-color: rgb(73, 26, 26);
}

@media (max-width: 85em) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .imagine-container,
  .text-container {
    display: flex;
    width: 100%;
  }

  .patrate {
    display: flex;
    flex-direction: column;
  }
}
