* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: rgb(180, 236, 49);
}

body {
  margin: 3em;
  max-width: 1200px;
  min-height: auto;
}

.nav-prima-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.7em;
  font-weight: 600;
}
.nav-prima-pagina > li {
  list-style-type: none;
}

.nav-prima-pagina > li > a {
  text-decoration: none;
}
.nav-prima-pagina > li > a:hover {
  text-decoration: none;
  color: rgb(25, 82, 47);
}
.nav-prima-pagina > li > a:active {
  text-decoration: none;
  color: rgb(21, 34, 26);
}

/* 
/////////////////////////// */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patrat {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(180, 236, 49);
  border: 15px solid rgb(53, 51, 51);
  border-radius: 20%;
  position: relative;
  top: 8em;
  left: 27em;
  width: 800px;
  height: 300px;
  animation-name: tabla;
  animation-duration: 40s;
}

.iepuras {
  position: absolute;
  top: 28em;
  left: 2em;
}

.iepuras2 {
  position: absolute;
  top: 27em;
  left: 27em;
}

.oua {
  position: absolute;
  top: -9em;
  left: 63em;
}

.paste {
  animation-name: paste;
  animation-duration: 40s;
}

.footer-animatii {
  position: absolute;
  top: 40em;
  left: 35em;
}

@keyframes paste {
  0% {
    color: rgb(180, 236, 49);
  }
  25% {
    color: rgb(180, 236, 49);
  }
  50% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    margin-left: 3em;
  }
  75% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    margin-left: 3em;
  }
  85% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-left: 3em;
  }
  100% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-left: 3em;
  }
}
.fericit {
  /* display: inline-block; */
  animation-name: fericit;
  animation-duration: 40s;
}

@keyframes fericit {
  0% {
    color: rgb(180, 236, 49);
  }
  25% {
    color: rgb(180, 236, 49);
  }
  50% {
    color: rgb(180, 236, 49);
  }
  75% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    margin-right: 3em;
  }
  85% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-right: 3em;
  }
  100% {
    color: rgb(5, 43, 16);
    font-size: 2.5em;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin-right: 3em;
  }
}

/* ////////////////////////////////////// */

.iepuras {
  opacity: 1;
}

.iepuras-2 {
  opacity: 0;
}

@keyframes miscare-iepuras {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(50% - 10px));
  }
}

@keyframes miscare-iepuras {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  30% {
    transform: translateX(calc(50% - 100px + 5em)) rotate(-5deg);
    opacity: 1;
  }

  40% {
    transform: translateX(calc(50% - 100px + 10em)) rotate(5deg);
    opacity: 1;
  }
  65% {
    transform: translateX(calc(50% - 100px + 15em)) rotate(-5deg);
    opacity: 1;
  }
  70% {
    transform: translateX(calc(50% - 100px + 20em)) rotate(5deg);
    opacity: 1;
  }
  75% {
    transform: translateX(calc(50% - 100px + 20em)) rotate(-5deg);
    opacity: 1;
  }
  80% {
    transform: translateX(calc(50% - 100px + 20em)) rotate(5deg);
    opacity: 1;
  }
  83% {
    transform: translateX(calc(50% - 100px + 23em)) rotate(-60deg);
    opacity: 1;
  }

  84% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.iepuras {
  animation: miscare-iepuras 10s ease-out forwards;
}

@keyframes schimbare-opacitate {
  0%,
  40% {
    opacity: 0;
    visibility: hidden;
  }
  65%,
  84%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.iepuras-2 {
  /* Aplicam animatia pentru schimbarea opacitatii */
  animation-name: schimbare-opacitate;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  position: relative;
  left: 28em;
}

@keyframes miscare-iepuras2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(50% - 100px));
  }
}

@keyframes miscare-iepuras2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(calc(50% - 100px));
    opacity: 0;
  }
  65% {
    transform: translateX(calc(50% - 100px)) rotate(-5deg);

    opacity: 1;
  }

  74% {
    transform: translateX(calc(50% - 100px + 10em)) rotate(5deg);
    opacity: 1;
  }

  84% {
    transform: translateX(calc(50% - 100px + 20em)) rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: translateX(calc(50% - 100px + 25em)) rotate(5deg);
    opacity: 1;
  }
  /* Adaugăm această proprietate pentru a păstra ultima valoare a transformării după finalizarea animației */
}

.iepuras2 {
  animation: miscare-iepuras2 20s ease-in-out forwards;
}

/* ///////////////////////////////////
///////////////////////////////////
//////////////////////////////////////// */

.footer-animatii {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  padding: 1.5em;
  background-color: rgb(180, 236, 49);
}

.copyright-animatii {
  font-size: 1.2em;
  font-weight: 900;

  color: whitesmoke;
}
