/* Stilizarea formularelor
Stilizează elemente de formular, cum ar fi butoane, câmpuri de text, casete de selectare și casete de bifare, folosind proprietăți specifice pentru aceste elemente. 

Sursa:
https://www.youtube.com/watch?v=HiHHvTcHiEk&list=PL4cUxeGkcC9g5_p_BVUGWykHfqx6bb7qK&ab_channel=TheNetNinja
*/

/* 1 - BASE FORM STYLES */

body {
  background-color: #141414;
  margin: 0;
  font-family: arial;
}

header {
  background: #252323;
  padding: 20px;
  text-align: center;
}

form {
  margin: 20px;
  color: #eee;
  background-color: rgb(54, 90, 54);
}

form p {
  font-size: 18px;
  letter-spacing: 0.1em;
}

/* 2 - RADIO BOX STYLES */

input[type="radio"] {
  /* opacity: 1; */
  /* width: 0; */
  margin-left: 20px;
}

label[for="male"],
label[for="female"] {
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 0;
  cursor: pointer;
}

input:checked + label[for="male"],
input:checked + label[for="female"] {
  color: #b6f156;
}

/* 3 - CHECKBOX STYLES */

input[type="checkbox"] {
  margin-left: 20px;
}

label[for="web"],
label[for="photoshop"],
label[for="madona"] {
  margin-bottom: 10px;
  line-height: 24px;
  cursor: pointer;
}

input:checked + label[for="web"],
input:checked + label[for="photoshop"],
input:checked + label[for="madona"] {
  color: #b6f156;
}

/* 4 - TEXT INPUT STYLES & FIELDSETS */

fieldset {
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #222;
}

legend {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}

input[type="email"],
input[type="tel"] {
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 10px 50px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #323b24;
}

/* Observ aspectul vizual imbunatatit al titlurilor principale de tip legend si altele cu aplicarea de letter spacing.
aflu ca nu e neaparat sa adaug clase la inputuri si labeluri. acestea pot fi selectate cu selectorul de tip sau cel de atribut mai precis, cu sintaxa input[type:"xxx"] sau label[for="xxxxx"].

pentru aranjarea optima in pagina se adauga in special margin si padding, aplicarea caruia se poate observa doar sus jos si in stanga, deci alinierea in mijlocul paginii nu e ceva necesar si este suficient sa aliniem din stanga inputurile si etichetele*/

/* 5 - SELECT BOXES */

select {
  display: block;
  margin: 30px 30px;
  padding: 10px 50px 10px 10px;
  background-color: #323b24;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  width: 280px;
}

textarea[id="textarea"] {
  display: block;
  margin: 20px 20px;
  background-color: #323b24;
  color: white;
}

input[type="submit"] {
  background: #b6f156;
  margin: 30px 20px 30px 20px;
  padding: 15px;
  color: black;
  font-size: 20px;
  letter-spacing: 0.1em;
  border-radius: 4px;
  border: 0;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  width: 280px;
}

/* este o idee buna sa folosim umbra la butonul de submit */
