/* 1. Selectori CSS
Experimentează cu selectori diferiți precum: selectori de tip, selectori de clasă, selectori de ID, selectori de atribut și combinații ale acestora. */

.nav-prima-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.7em;
  font-weight: 600;
}
.nav-prima-pagina > li {
  list-style-type: none;
}

.nav-prima-pagina > li > a {
  text-decoration: none;
}
.nav-prima-pagina > li > a:hover {
  text-decoration: none;
  color: rgb(25, 82, 47);
}
.nav-prima-pagina > li > a:active {
  text-decoration: none;
  color: rgb(21, 34, 26);
}

/* ? ////////////////////SELECTORI DE TIP  */

/* selector de element */

p {
  color: blue;
  font-size: 2em;
}

/* selector de clasa */

.paragraf4 {
  color: brown;
}

/* selector de id */

#paragraf3 {
  color: green;
}

/* selector de atribut */
[href="https://www.google.com/"]
{
  font-size: 1em;
  color: aqua;
  font-weight: bold;
}
