/* sursa: 
https://www.youtube.com/watch?v=95GHRweCjkA&ab_channel=badellmaman */

/* :first-child, :last-child, ::before și ::after. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
}

.menu {
  background-color: rgb(50, 50, 136);
  padding: 0.8em;
}

.menu a {
  display: inline-block;
}
.sub-menu a {
  display: block;
}

.menu > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
}

.menu > li > a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 2.7em;
}

.menu > li > a:hover,
.menu > li > a:active,
.menu > li > a:focus {
  color: yellow;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: rgb(99, 209, 209);
  padding: 0 0.8em;
  /* border: 2px solid rgb(50, 50, 136); */
  border-radius: 0.5em;
  box-shadow: 0 0 6px rgba(18, 18, 39, 0.514);
}

.sub-menu > li {
  list-style-type: none;
}

.sub-menu > li > a {
  text-decoration: none;
  color: black;
}

/* top: 100% setează distanța dintre marginea de sus a submeniului și marginea de jos a elementului părinte. În acest caz, va poziționa submeniul direct sub elementul părinte.*/

.menu li:hover .sub-menu {
  display: block;
}

.name {
  color: red;
  margin-left: 450px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 199, 199);
  margin: 3em 10em;
  padding: 2em;
  border: 2em solid rgba(50, 50, 136, 0.397);
}

.text2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgb(152, 199, 199);
  margin: 3em 10em;
  padding: 2em;
  border: 2em solid rgba(50, 50, 136, 0.397);
}

.text2::before {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-color: red;
}
.text2::after {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-color: rgb(31, 33, 136);
}

/* pseudoelementele before si after pot fi folosite doar asupra elementelor detinatoare de continut si nu pot fi folosite in cazul elementelor lipsite de continut, cum ar fi "input" */

/*Sursa 
https://www.youtube.com/watch?v=OtBpgtqrjyo&ab_channel=WebDevSimplified 

https://www.youtube.com/watch?v=xoRbkm8XgfQ&ab_channel=KevinPowell

am ramas la min 3:35*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 3em;
}
.required::after {
  content: "*";
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 5px;
  padding: 5px;
  background-color: lightblue;
}

/* putem avea doar un pseudoelement before si unul after in jurul fiecarui element. nu putem avea doua pseudoelemente */

.before-title::before {
  content: url(../../grid/grid2/img-grid2/castel.jpg);
}

.blockquote::before {
  content: open-quote;
}
.blockquote::after {
  content: close-quote;
}
